body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f0ff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-image: url('https://media.licdn.com/dms/image/v2/C5612AQEv5KIhELeDIg/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1520091885004?e=1740009600&v=beta&t=32rVyqJOMKX6e4c5g6cScm0Samsm_tBAqL0MP_tMzpY');
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #064486;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.delete-btn {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c0392b;
}
